<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
    <f:if condition="{relatedNews}">
        <section class="related-news-slider related-news-slider--light" data-frontiere-related="{newsUid}">
            <div class="container"><div class="tx-newsenhanced">
                <h2 class="element-header pre-title"><span><f:translate key="tx_newsenhanced_domain_model_newscarousels.relatednews" extensionName="newsenhanced" /></span></h2>
                <div class="slider container">
                    <div class="news swiper" data-frontiere-swiper>
                        <div class="swiper-wrapper" data-frontiere-items>
                            <f:for each="{relatedNews}" as="newsItem">
                                <div class="swiper-slide" role="group">
                                    <f:render partial="Card/NewsCard" arguments="{newsItem: newsItem, settings: {parentCategory: 2, detailPid: 73}, cardContext: 'slider', cardClass: '', titleTag: 'h5', showChipInImage: 1, showText: 0}" />
                                </div>
                            </f:for>
                        </div>
                    </div>
                    <div class="swiper-controls d-flex align-items-center gap-1">
                        <div class="swiper-navigation">
                            <div class="tx_news_button-prev prev-2" data-frontiere-prev role="button" aria-label="Slide precedente"></div>
                            <div class="tx_news_button-next next-2" data-frontiere-forward role="button" aria-label="Slide successiva"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-2 swiper-pagination-progressbar" data-frontiere-progress></div>
                        <f:link.page pageUid="32" class="btn btn-primary btn-dark allnews ml-auto"><span>Leggi tutte</span></f:link.page>
                    </div>
                    <div class="frontiere-load-more" data-frontiere-load-more data-frontiere-instance="related-{newsUid}" data-frontiere-page="{relatedPaginator.currentPageNumber}" data-frontiere-total="{relatedPaginator.totalNumberOfItems}" data-frontiere-page-size="{settings.itemsPerPage}">
                        <f:if condition="{relatedPagination.nextPageNumber}">
                            <a class="frontiere-load-more__button" data-frontiere-next href="{f:uri.action(action:'list', controller:'Related', arguments:{relatedPage: relatedPagination.nextPageNumber}, addQueryString:'untrusted')}">Vedi altro</a>
                        </f:if>
                        <f:if condition="{settings.showCount}">
                            <p class="frontiere-load-more__count" data-frontiere-count aria-live="polite"><f:count subject="{relatedNews}" /> di {relatedPaginator.totalNumberOfItems}</p>
                        </f:if>
                        <span class="visually-hidden" data-frontiere-status role="status" aria-live="polite"></span>
                    </div>
                </div>
            </div></div>
        </section>
    </f:if>

    <section class="container latest-news"><div class="container"><div class="tx-newsenhanced-latest-news mb-4">
        <f:if condition="{latestNews}">
            <h2 class="element-header pre-title"><span><f:translate key="tx_newsenhanced_domain_model_newscarousels.latestnews" extensionName="newsenhanced" /></span></h2>
            <div class="news-list"><ul class="list-unstyled">
                <f:for each="{latestNews}" as="newsItem"><li>
                    <f:render partial="Card/NewsCard" arguments="{newsItem: newsItem, settings: {parentCategory: 3, detailPid: 73}, cardContext: 'list', cardClass: 'photo-xs', titleTag: 'h3', showChipInImage: 0, showText: 1}" />
                </li></f:for>
            </ul></div>
        </f:if>
    </div></div></section>
    <f:asset.css identifier="frontiereloadmore" href="EXT:frontiereloadmore/Resources/Public/Css/load-more.css" />
    <f:asset.script identifier="frontiereloadmore" src="EXT:frontiereloadmore/Resources/Public/JavaScript/load-more.js" />
</f:section>
</html>
